form{
    margin:2.5rem ;
    padding: 2.5rem;
    background: color #f5f5f5; 
    border: 1px solid #adadad;
    border-radius: 5px;

}
input{ 
    width:100%;
    margin:0.25rem 0 0.5rem;
    padding:0.5rem 0.25rem ;
    border-radius: 5px;
    border: 1px solid #adadad;

}