*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.gridbox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:1rem;
}

.gridbox div{
    background-color: cadetblue;
    border: 1px solid black;
    
}