:root{
    --primary:#234534;
    --secondary:#255332;

}

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;
    margin:2px;
}
header span{
    color: #234534;
}

header nav ul{
    display: flex;
    list-style: none;
    gap: 1.02rem;
    text-decoration: none;
    color: var(--secondary);
    
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.box{
    height: 200px;
    width: 200px;
    background-color:var(--primary);
    border: 1px solid black;
}
h1{
    height: 200px;
    width: 200px;
    background-color: var(--primary);
    border: 1px solid;
}

@media (min-width:380px) and (max-width:768px) {
    .container{
    grid-template-columns: repeat(2, 1fr);
    }
    
}

@media (min-width:769px) and (max-width:1275px) {
    .container{
    grid-template-columns: repeat(4, 1fr);
    }
    
}