span{
    font-weight: bold 200;
    background-color: rgb(211, 211, 223);
    text-decoration: none;
}

.contact{
    color:rgb(13, 13, 13);
    background-color: rgb(241, 241, 241);
    font-weight: 100;
    text-decoration: underline;
}

.syntax{
    color:blueviolet;
    background-color: bisque;
    font-weight: 200;
    font-size: larger;
    text-decoration: underline;
}

a{
    text-decoration: aqua;
}

