span{
    font-weight: bold 200;
    background-color: rgb(211, 211, 223);
    text-decoration: none;
}

.contact{
    color:rgb(13, 13, 13);
    background-color: rgb(241, 241, 241);
    font-weight: 100;
    text-decoration: underline;
}

.syntax{
    color:rgb(126, 45, 201);
    font-weight: 200;
    font-size: larger;
    text-decoration: underline;
}

a{
    text-decoration: rgb(61, 179, 179);
}

.title{
    color:rgb(232, 222, 211);
    color:#396f93;
    background-color: #b1d3e8;
    text-align: center;
    text-decoration:dotted;
}

.title:hover{
    color: #0f0e0e;

}

h1{
    text-transform: uppercase;
    word-spacing: 10px;
    letter-spacing: 2px;
    text-shadow: 3px 5px 6px #396f93;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.h1:hover{
    color: #161d3b;

}

.box{
    height: 100px;
    width: 200px;
    background: #b1d3e8;
    margin: 20px;
    border:2.5px solid;
    padding:12px;
}

.Container{
    height:100px;
    width: 75px;
    background:#396f93;
    text-shadow: 2px 3px 4px #011122;
    margin:20px;
    border:10px;
    padding:12px;

}

.card{
    background-color: aliceblue;
    text-emphasis: underline;
    height:100px;
    width:50px;
    margin:10px;
    padding:12px;
    border:12px;

}

.section{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;


}

.div1{
    height:150px;
    width: 175px;px;
    background-color: #b1d3e8;
    column-gap: 1rem;
    border:1.5px solid #396f93;
    text-align: center;

    
}

.div2{
    height:150px;
    width: 175px;px;
    background-color: #b1d3e8;
    column-gap: 1rem;
    border:1.5px solid #396f93;
    text-align: center;
}

.div3{
    height:150px;
    width: 175px;px;
    background-color: #b1d3e8;
    column-gap: 1rem;
    border:1.5px solid #396f93;
    text-align: center;

}

.h2{
    text-align: center;
    text-decoration: double;
    text-shadow: 1.5px 2px 4px #0a3d5c;
    font-size:xx-large;

}

.h2:hover{
   color: #161d3b;


}

nav ul{
    display:flex;
    justify-content: space-evenly;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.list{
    list-style:decimal-leading-zero;
}

.list li:nth-child(3){
    color:red;
}

.list li:nth-child(odd){
    color:#011122;
}

.input{
    background-color:grey;
}
/* units:px(pixel), em(relative to parent),rem(relative to root), uh(viewing height), vw(Viewing width), in(inch), cm */
.units{
    color:blueviolet;
    font: size 4rem;
}